.idea/
.vscode/
node_modules
*.log
*.tar.gz
*.tgz
.DS_Store
*.d.ts
!**/typings/*.d.ts
dist
.next
.run
*.map
*.js
!.gitkeep
!next.config.js
!scripts/**/*.js
!.stylelintrc.js
*.local
*.local.*
.db-client
